{% extends "base.html" %}

{% block content %}
<div class="text-center" style="width: 100%; max-width: 500px;">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <br>
                <h2 class="card-title">Register User</h2>
                <form method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                {% if user_data %}
                <div class="mt-4">
                    <h3>Generated Keys:</h3>
                    <p><strong>Public Key:</strong> <small class="text-muted">{{ user_data['public_key'] }}</small></p>
                    <p><strong>Private Key:</strong> <small class="text-muted">{{ user_data['private_key'] }}</small></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}